@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: #000000;
}
#root {
  background: #000000;

  font-family: "Geist";
  padding: 0 2rem;
}

#root.gradientOn {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 31%,
    rgba(5, 5, 48, 1) 100%
  );

  width: 100vw;
}

@media (min-width: 1800px) {
  #root {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

@media (max-width: 900px) {
  #root {
    padding-left: 0;
    padding-right: 0;
  }
}
